@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border: 1px solid theme("colors.gray.700");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.4");
    box-shadow: theme("boxShadow.xl");
    width: 40vh;
  }
  .card:hover {
    border-color: theme("colors.blue.600");
  }
}
